BASE_URL=https://zapieapp-api-dev-alpha.ambitiousstone-9e7294a6.polandcentral.azurecontainerapps.io
EMPLOYEE_EMAIL=employee@zapieapp.pl
EMPLOYEE_PASSWORD=change-me-employee
DRIVER_EMAIL=driver@zapieapp.pl
DRIVER_PASSWORD=change-me-driver
