@font-face {
	font-family: 'Glyphter';
	src: url('../fonts/glyphter/Glyphter.eot');
	src: url('../fonts/glyphter/Glyphter.eot?#iefix') format('embedded-opentype'),
	url('../fonts/glyphter/Glyphter.woff') format('woff'),
	url('../fonts/glyphter/Glyphter.ttf') format('truetype'),
	url('../fonts/glyphter/Glyphter.svg#Glyphter') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*='icon-']:before {
	display: inline-block;
  font-family: 'Glyphter', serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-ICONS_arrow-left:before {
	content: '\0041';
}

.icon-ICONS_arrow-right:before {
	content: '\0042';
}

.icon-ICONS_backward:before {
	content: '\0043';
}

.icon-ICONS_calendar:before {
	content: '\0044';
}

.icon-ICONS_chevron-down:before {
	content: '\0045';
}

.icon-ICONS_chevron-left:before {
	content: '\0046';
}

.icon-ICONS_chevron-right:before {
	content: '\0047';
}

.icon-ICONS_chevron-up:before {
	content: '\0048';
}

.icon-ICONS_children:before {
	content: '\0049';
}

.icon-ICONS_close:before {
	content: '\004a';
}

.icon-ICONS_current-declar:before {
	content: '\004b';
}

.icon-ICONS_delete:before {
	content: '\004c';
}

.icon-ICONS_download:before {
	content: '\004d';
}

.icon-ICONS_edit:before {
	content: '\004e';
}

.icon-ICONS_external-link:before {
	content: '\004f';
}

.icon-ICONS_face:before {
	content: '\0050';
}

.icon-ICONS_file-alt:before {
	content: '\0051';
}

.icon-ICONS_file:before {
	content: '\0052';
}

.icon-ICONS_form-grip:before {
	content: '\0053';
}

.icon-ICONS_forward:before {
	content: '\0054';
}

.icon-ICONS_link:before {
	content: '\0055';
}

.icon-ICONS_lock:before {
	content: '\0056';
}

.icon-ICONS_log-history:before {
	content: '\0057';
}

.icon-ICONS_long-arrow-alt-left:before {
	content: '\0058';
}

.icon-ICONS_long-arrow-alt-right:before {
	content: '\0059';
}

.icon-ICONS_menu:before {
	content: '\005a';
}

.icon-ICONS_mssg-check:before {
	content: '\0061';
}

.icon-ICONS_mssg-error:before {
	content: '\0062';
}

.icon-ICONS_mssg-info:before {
	content: '\0063';
}

.icon-ICONS_mssg-question:before {
	content: '\0064';
}

.icon-ICONS_mssg-warning:before {
	content: '\0065';
}

.icon-ICONS_pen:before {
	content: '\0066';
}

.icon-ICONS_plus:before {
	content: '\0067';
}

.icon-ICONS_preview:before {
	content: '\0068';
}

.icon-ICONS_save:before {
	content: '\0069';
}

.icon-ICONS_search:before {
	content: '\006a';
}

.icon-ICONS_send:before {
	content: '\006b';
}

.icon-ICONS_setted-declar:before {
	content: '\006c';
}

.icon-ICONS_sign-in:before {
	content: '\006d';
}

.icon-ICONS_sign-out:before {
	content: '\006e';
}

.icon-ICONS_sorting:before {
	content: '\006f';
}

.icon-ICONS_start:before {
	content: '\0070';
}

.icon-ICONS_times:before {
	content: '\0071';
}

.icon-ICONS_user:before {
	content: '\0072';
}

.icon-ICONS_warning:before {
	content: '\0073';
}
